/*____ BODY start ____*/
html,
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering:geometricPrecision;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
       -o-text-size-adjust: 100%;
}
body {
  background-color: hsl(240, 9%, 96%);
}
.flex,
.flex-item,
.flexPrev,
.header-filtr-item{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
/*____ BODY end ____*/

/*____ TRANSITION start ____*/
.h1,
.imageBox,
.imageBox-border,
.album,
.artist,
.header-filtr-item{
  -webkit-transition: all 150ms ease-out;
     -moz-transition: all 150ms ease-out;
      -ms-transition: all 150ms ease-out;
       -o-transition: all 150ms ease-out;
          transition: all 150ms ease-out;
}
.header-toggle-icon,
.flex-item,
a{
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
      -ms-transition: all 100ms ease-out;
       -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;
}
.p,
p{
  -webkit-transition: border 100ms ease-out;
     -moz-transition: border 100ms ease-out;
      -ms-transition: border 100ms ease-out;
       -o-transition: border 100ms ease-out;
          transition: border 100ms ease-out;
}
/*____ TRANSITION end ____*/

/*____ TYPOGRAPHY start ____*/
html {
  font-family: 'Arimo', 'Roboto', Arial, sans-serif;
}
.h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
.h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  top: 70px;
  left: 85px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  position: relative;
}
.p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5em;
  color: hsl(222, 11%, 18%);
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.album{
  color: hsl(222, 11%, 18%);
}
.artist {
  color: hsl(222, 10%, 55%);
}
a {
  color: hsl(222, 11%, 18%);
  text-decoration: none;
  border-bottom: 1px solid hsl(29, 46%, 81%);
  overflow: hidden;
}
a:hover {
  border-bottom: 1px solid hsl(215, 70%, 50%);
}
/*____ TYPOGRAPHY end ____*/

/*________________________________________________________________________________*/

/*____ HEADER start ____*/
.header {
  width: 100%;
  height: 50px;
  top: 0;
  margin: 0 auto;
  padding: 0;
  background-color: hsla(222, 11%, 18%, .85);
  position: fixed;
  z-index: 10;
  -webkit-backdrop-filter: blur(25px);
}
.header-logotype {
  color: hsl(29, 46%, 81%);
  letter-spacing: .2em;
  word-spacing: .2em;
  margin: 14px 0 0 0;
  padding: 0;
  left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 11;
}
.header-logotype a {
  color: hsl(29, 46%, 81%);
  border-bottom: none;
}
.header-logotype a:hover,
.user-name:hover{
  color: hsl(0, 0%, 100%);
}
.header-filtr {
  font-size: 0;
  left: 50%;
  margin: 11px 0 0 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header-filtr-item {
  font-size: 13px;
  color: hsl(29, 46%, 81%);
  text-align: center;
  width: 70px;
  margin: 0;
  padding: 6px 0;
  border: 1px solid hsla(29, 46%, 81%,.3);
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.header-filtr-item__active {
  color: hsl(222, 11%, 18%);
  background-color: hsl(29, 46%, 81%);
  cursor: default;
}
#filtr-album {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid hsla(29, 46%, 81%, 0);
  left: 1px;
}
#filtr-year {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid hsla(29, 46%, 81%, 0);
  right: 1px;
}
.header-filtr-item__hover:hover {
  border: 1px solid hsl(29, 46%, 81%) !important;
}
.header-right {
  height: 50px;
  right: 0;
  margin: 0;
  padding: 0 0 0 20px;
/*  overflow: hidden;*/
  display: inline-block;
  position: absolute;
}
.header-toggle {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 13;
}
.header-toggle-icon{
  margin: 17px 0 0 17px;
  padding: 0;
  fill: hsl(29, 46%, 81%);
  display: inline-block;
  position: absolute;
  z-index: 12;
}
.header-user {
  height: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.user-avatar {
  width: 36px;
  height: 36px;
  margin: 5px 0 0 0;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.user-name {
  font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 0;
  top: 0;
  color: hsl(29, 46%, 81%);
  display: inline-block;
  position: relative;
}
.header-progress {
  width: 0%;
  height: 3px;
  top: 50px;
  background-color: hsl(0, 0%, 0%);
  overflow: hidden;
  display: inline-block;
  position: absolute;
  z-index: 11;
}
/*____ HEADER end ____*/

/*____ CONTENT start ____*/
.content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.content-grid-toggle {
  font-size: 0px;
  margin: 70px 0 0 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.content-grid-toggle-item {
  font-size: 13px;
  color: hsl(222, 11%, 18%);
  margin: 0;
  padding: 6px 15px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.content-grid-toggle-item__active {
  color: hsl(30, 20%, 50%);
  background-color: hsl(30, 45%, 95%);
  border-radius: 4px;
  cursor: default;
}
.main-grid,
.main-preview,
.main-list {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.main-grid {
  max-width: 1280px;
  background-color: hsl(0, 0%, 100%);
}
.flex {
  width: 1150px;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
  list-style: none;
  list-style-type: none;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
          align-content: flex-start;
}
.flex-item {
  width: 210px;
  height: auto;
  margin: 10px;
  padding: 15px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.imageBox {
  width: 180px;
  height: 180px;
  margin: 0 0 8px 0;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.imageBox-border {
  width: 100%;
  height: 100%;
  top: 0;
  box-shadow: inset 0 0 .5px 1px hsla(0, 0%, 0%, .1);
  border-radius: 2px;
  display: block;
  position: absolute;
  z-index: 1;
}
.imageBox-img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 0;
}

.flexPrev {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0 45px 0;
  background-color: hsl(222, 11%, 18%);
  position: relative;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
          align-content: flex-start;
}
.flexPrev-item {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
/*____ CONTENT end ____*/

/*____ FOOTER start ____*/
.footer {
  width: 100%;
  height: 45px;
  bottom: 0;
  box-shadow: 0 -1px 0 0 hsla(0, 0%, 0%, .2);
  background-color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 10;
}
.footer-year {
  margin: 13px 0 0 0;
  padding: 0;
  right: 15px;
  display: inline-block;
  position: absolute;
  z-index: 12;
}
/*____ FOOTER end ____*/
